target/
build/
.git/
.gitignore
.gitattributes
.mvn/
mvnw
mvnw.cmd
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated/
README.md
HELP.md
package-lock.json
Dockerfile
.dockerignore
*.log
.DS_Store
